@import '../../styles.scss';

.hero__text {
  color: $white;
  font-weight: 200;
  font-stretch: expanded;
  margin-top: 2rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  transition-property: text-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hero__text:first-child {
  margin-top: 0;
}

.hero__text a,
.hero__text a:visited {
  color: $white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.hero__text a:hover {
  color: $malibu;
}
