.row.experience-detail {
  margin-bottom: 0;
}

.__svg {
  margin-left: 1rem;
}

.card.card--experience-detail {
  margin-bottom: 0;
}

.experience-detail__line-spacing {
  margin-left: 0.5rem;
  margin-bottom: 0;
  width: 17.333%;
  height: 20px;
}

.experience-detail-section {
  margin-bottom: 2rem;
}

.experience-detail-section:last-of-type {
  margin-bottom: 1rem;
}

.experience-detail-section__heading {
  margin-bottom: 1rem;
}

.experience-detail-section__bullets {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1050px) {
  .row.experience-detail {
    margin-bottom: inherit;
  }

  .card.card--experience-detail {
    margin-bottom: 1rem;
  }
}
