@import "../../styles.scss";

.contact-form .disabled {
  cursor: not-allowed;
  border-color: $lighter-gray !important;
  color: $lighter-gray !important;
}

.contact-form textarea {
  resize: vertical;
}
