@import "../../styles.scss";

.contact-form__button:disabled {
  cursor: not-allowed;
  border-color: $lighter-gray !important;
  color: $lighter-gray !important;
}

.contact-form__textarea {
  resize: vertical;
}
