.technology-expertise-element {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.technology-expertise-element__image {
  width: 20rem;
  height: 10rem;
  object-fit: contain;
}

.technology-expertise-element__image:hover {
  cursor: pointer;
}

.technology-expertise-element__title {
  margin-top: 1rem;
  text-align: center;
}
