@import '../../styles.scss';

.footer {
  margin-top: 2rem;
}

.footer__text {
  > a {
    color: $malibu;
  }
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

@media only screen and (max-width: $mobile-landscape-width) {
  .footer__text--left,
  .footer__text--center,
  .footer__text--right {
    text-align: center;
  }
}
