@import './styles.scss';

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background--content {
  padding-top: 10rem;
  flex: 1 0 auto;
}

.background--footer {
  flex-shrink: 0;
}

.background--gradient {
  /* fallback for old browsers */
  background: $royal-blue;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-radial-gradient(
    circle farthest-corner at 20% 19.3%,
    $royal-blue 0%,
    $malibu 125%
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: radial-gradient(
    circle farthest-corner at 20% 19.3%,
    $royal-blue 0%,
    $malibu 125%
  );
}
